body{
    font-color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#mainheader{
    background-color:#ffffff;
    border-color:#cccccc;
}

#mainfooter{
    background-color:#666666;
}